// Color Theme Vars
$color-main:#2B303A;
$color-secondary:#85D7D1;
$color-third:#E0ACD5;

$color-dark: #37354A;
$color-dark-accent: #AE3D55;
$color-extra-dark: #444444;

$color-light: #F4F3EF;
$color-light-accent: #D8D2CB;
$color-extra-light: #F4F7F6;

$color-white: #fff;
$color-black: #000;

$f: $color-white;
$o: $color-black;

$bodycolor: #778089;